.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
html {
    height: 100%;
}

.content {
    margin-top: 50px;
    width: 100%;
}

h1.welcome {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: fixed;
    top: 60px;
    left: 56px;
    z-index: -1;
}

canvas#draw-area {
    cursor: default;

    position:fixed;
    top: 50px;
    left: 0px;
}

a.navbar-brand {
    margin-left: 0px;
}

a.navbar-brand > img {
    width: 30px;
    margin-top: -8px;
    margin-left: 6px;
}

div#colorpick {
    display: none;
}

.minicolors-swatch {
    position: fixed;
    top: 50px !important;
    left: -1px !important;
    width: 35px !important;
    height: 35px !important;
    border-bottom-right-radius: 40px;
    box-shadow:rgba(0,0,0,0.8) 0px 0px 24px;
    border: none;
    cursor: pointer;

}
.minicolors-swatch-color {
    border-bottom-right-radius: 40px;
    width: 102%;
    height: 102%;
}
.minicolors-panel {
    left: -36px !important;
    top: 23px !important;
}

div#size-slider {
    position: fixed;
    top: 120px;
    left: 12px;
    height: 300px;
}

div#paint-cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    pointer-events: none;
}
